In [7]:
# create sqlite database
from pathlib import Path
Path('my_data.db').touch()

In [8]:
# create sqlite table
import sqlite3
conn = sqlite3.connect('my_data.db')
c = conn.cursor()

In [10]:
stream = pd.read_csv('datasets/stream.csv')
stream.to_sql('stream', conn, if_exists='append', index = False)

In [13]:
pd.read_sql('''SELECT device_id
FROM stream
LIMIT 20;''', conn)

                                   device_id
0   40ffc2fa6534cf760becbdbf5311e31ad069e46e
1   9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760
2   2f9c3f9ee1033b71a3819564243f20ef3bec0183
3   0cda8226ba2583424c80c3c1c22c1256b080ad17
4   e3288ca5e3153aa85e32f64cdd994b7666968dcf
5   343fe2bfd58595d5c18602d420ecf6f9d694d5a8
6   80a0c7d1abb6a5a0060e18202b77bef831e08ca5
7   1e342e5e4e228f617449029054b3bb19c5224528
8   272cffbb1a9a33ad3bb48a2ee9ae5cbcac5ca22e
9   593ed161c456eeeb9e18b8005786d42abc1a7373
10  16679ceba8bf5fb10f253e51f9a286c11b011e02
11  1a247324beabdb85b2b8a97472f28f6cf9026fe1
12  20bde4b4418df3ce2701869233e12b1b4a30da88
13  21d94696c9b0f4f9eafc785a2d9d1be1982244b1
14  5e3a498f6c671a42edfa3772c87c1c3dc918a511
15  2e7bcee08428c8ba8c5ce7d44a930dfee7f34db2
16  88b8d83a7ac64d30f2b3f54cc9d9c2a15bb2f666
17  53fc815c5fb6e8641dc8a60cf2cc480198a2ba17
18  f74aae10baab29ab434519adb4ad4f64f6d90727
19  47d380927c426e589be566d4ae967cbb6f9d2d13