In [1]:
import pandas as pd
import sqlite3
conn1 = sqlite3.connect('stream.db')
conn2 = sqlite3.connect('chat.db')
c1 = conn1.cursor()
c2 = conn2.cursor()

# Getting Started

Start by getting a feel for the stream table and the chat table.

Select the first 20 rows from each of the two tables.

What are the column names?

In [2]:
# print the first 20 rows of stream
pd.read_sql('''SELECT *
FROM stream LIMIT 20; 
''', conn1)

,time,device_id,login,channel,country,player,game,stream_format,subscriber
0,2015-01-01 18:33:52,40ffc2fa6534cf760becbdbf5311e31ad069e46e,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends,None,NaN
1,2015-01-01 23:35:33,9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760,5ad49a7b408ce452140b180dd6efb57a9f4d22c7,george,US,site,DayZ,chunked,0.0
2,2015-01-01 04:39:38,2f9c3f9ee1033b71a3819564243f20ef3bec0183,5b9a43e68f019185f55615d0b83019dee4b5d06f,frank,US,site,League of Legends,chunked,0.0
3,2015-01-01 11:15:30,0cda8226ba2583424c80c3c1c22c1256b080ad17,02c7797faa4d8a3ff4b0c14ee1764b6817b53d0b,estelle,CH,site,Dota 2,high,0.0
4,2015-01-01 11:28:19,e3288ca5e3153aa85e32f64cdd994b7666968dcf,b920c228acbcbebee26d9c79f6eb73b73a9480c7,morty,FR,site,Heroes of the Storm,medium,0.0
5,2015-01-01 23:27:36,343fe2bfd58595d5c18602d420ecf6f9d694d5a8,7814f661a54349ff5eee84f9d6f476918c9b7270,george,US,iphone_t,DayZ,None,NaN
6,2015-01-01 21:09:23,80a0c7d1abb6a5a0060e18202b77bef831e08ca5,eb158cab3f606d3894a32e20bddbfd2d589095a9,frank,US,site,League of Legends,high,1.0
7,2015-01-01 19:14:27,1e342e5e4e228f617449029054b3bb19c5224528,2aaf6a414bc3dc923b04f986de7ba1b8101c6698,frank,CA,site,League of Legends,high,0.0
8,2015-01-01 13:51:04,272cffbb1a9a33ad3bb48a2ee9ae5cbcac5ca22e,401716920e3435b5e3eec9fc4ccd6a44c7af38f5,kramer,TR,site,Counter-Strike: Global Offensive,chunked,0.0
9,2015-01-01 22:00:14,593ed161c456eeeb9e18b8005786d42abc1a7373,ef24dc49ceb4bcd3cccb0fa862d8a150ecf935e1,frank,US,site,League of Legends,medium,0.0
10,2015-01-01 19:10:58,16679ceba8bf5fb10f253e51f9a286c11b011e02,3b8deb77fb36b6147c27cbdb82a925aaf26b629b,jerry,RU,embed,Dota 2,chunked,0.0
11,2015-01-01 22:59:56,1a247324beabdb85b2b8a97472f28f6cf9026fe1,c485d2914068876ebd6cf3ee6812dc939abae8d7,frank,US,android,League of Legends,None,NaN
12,2015-01-01 22:10:46,20bde4b4418df3ce2701869233e12b1b4a30da88,7abc32d6617b4a13b78dd2710f22fe8a2305f0fd,george,US,ipad_t,DayZ,None,NaN
13,2015-01-01 13:46:00,21d94696c9b0f4f9eafc785a2d9d1be1982244b1,c2de0a4d1258e2fc093017d5a793a625af9a0d44,estelle,US,embed,Dota 2,high,0.0
14,2015-01-01 10:07:45,5e3a498f6c671a42edfa3772c87c1c3dc918a511,ffec857d76dcf8cfee7f3a96028365f33964c823,morty,None,ipad_t,Heroes of the Storm,None,NaN
15,2015-01-01 21:04:20,2e7bcee08428c8ba8c5ce7d44a930dfee7f34db2,4fac13dc5b1cc9d3b18ad0ff62da2adb635375fd,frank,US,site,League of Legends,high,0.0
16,2015-01-01 12:41:15,88b8d83a7ac64d30f2b3f54cc9d9c2a15bb2f666,9f2d3dcb56169dcdc0933d21004ce0f2e40b0df0,estelle,TR,site,Dota 2,high,0.0
17,2015-01-01 21:30:35,53fc815c5fb6e8641dc8a60cf2cc480198a2ba17,122ab65809db2c8057c998d0664b2f54f5f6aa10,frank,US,android,League of Legends,None,NaN
18,2015-01-01 22:03:58,f74aae10baab29ab434519adb4ad4f64f6d90727,3b954baa601d4cb22610dc4727543c697acbd4d6,frank,US,iphone_t,League of Legends,None,NaN
19,2015-01-01 14:47:24,47d380927c426e589be566d4ae967cbb6f9d2d13,40b89a7097d30ecf1fe4591442f541ed500c5b8b,helen,CA,iphone_t,Hearthstone: Heroes of Warcraft,None,NaN

In [3]:
# print the first 20 rows of chat
pd.read_sql('''SELECT *
FROM chat LIMIT 20; 
''', conn2)

,time,device_id,login,channel,country,stream_format,game
0,2015-01-01 18:45:50,70e2b95b5ac0d4c227e46966658d16b3e044996e,5c2f5c1f19a7738e16ed0be551d865e8a8fce71d,jerry,BY,None,Dota 2
1,2015-01-01 01:16:57,f2b9065b55fd80d6aa653ce989b489f4ec5198be,0d77740e4fb5ce77d94f9f6c8ef1f762990d0344,elaine,HK,None,Devil May Cry 4: Special Edition
2,2015-01-01 16:22:10,d448ba963d7e1023dd1b0a40b95d4f6611750692,77ab14c1fb815e1c369ba0cf7d4c56b4fe489997,frank,GB,iphone_t,League of Legends
3,2015-01-01 03:58:13,8d6823dc52b400b50aebf269bf1f03a36d19eeaa,91cb88c0743761589273fc5e800e7743ece46494,frank,US,iphone_t,League of Legends
4,2015-01-01 11:47:35,16c1e39594d62358d27ae604ad43a071f0d86bc4,51a9234f83d656607cfd7f26690c12d2ffbce353,estelle,DE,None,Dota 2
5,2015-01-01 17:59:51,6fcc75522de37833a0fb21fba4965aad3b63ea57,f628d1cb946ea2e8cffc0b327bc9d77775b8d3c0,jerry,RU,None,Dota 2
6,2015-01-01 02:24:33,dea94b3030025d837dd841fbfd479e775987f65d,9dbbcf6c7792074771c4c7284807041eac467ad5,elaine,TW,None,Gaming Talk Shows
7,2015-01-01 18:26:34,671bee0f3d66077876d9bc231990597292392cc2,51c286a41daa8e060275f622f2b8436bee9fab91,jerry,UA,None,Dota 2
8,2015-01-01 13:13:18,8b31d5ebd1f4f41d4365ae4a471c1686dd256745,06decad1d9565150791e183da017f47123433a4c,estelle,GB,ipad_t,Dota 2
9,2015-01-01 20:20:55,f2ebb129e6930e608f2ed3f5fb52bc4d533c4891,4679f8113aa157ba76fc6db5878d7ee625e88d55,frank,CA,None,League of Legends
10,2015-01-01 22:47:24,faf5c126f52f52f4b23c057c31f35fb0cdfbcdf3,cf2c292a9cc31cc398428ec82a872e620d3237df,george,None,None,DayZ
11,2015-01-01 17:26:27,536bacfa1cd0b39f77eb167689f64d144464ca12,c7f232fb8ab54e78cff1e953d38d09f40b01ce81,frank,None,None,League of Legends
12,2015-01-01 17:38:00,c9ba7595a583e5964fb74a9fb95f07790362cc35,9b4d863c2b0ab0c4d1e8d33665dab469f15e87b0,newman,US,None,The Binding of Isaac: Rebirth
13,2015-01-01 11:53:47,dcffedc3f5a46a895d70d70d5c9c9abfdcb7c33d,8464a5359d8df9d6636355b391b8748d856bc61b,elaine,TW,None,Gaming Talk Shows
14,2015-01-01 11:23:57,c480007a2b82f6fb0cb94c2b9b445ef99d8d68e7,e17102753876688a04b17142128a16259eaf8374,estelle,US,None,Dota 2
15,2015-01-01 06:01:09,698db5a0e9c4025fe2a1cd094d0cdda647831339,770a8dc070d9db7ab582bc8a27e436fa8aadeb0a,susan,UA,None,World of Tanks
16,2015-01-01 21:51:07,dcd963bb1f416e843781bd5e350c23ffc757201d,eb05316cffb53b70eb5cb8c185557d23a31d2b93,newman,US,None,The Binding of Isaac: Rebirth
17,2015-01-01 13:52:27,7361fc61d20d509e14d1bceb095e950a4a53be8d,62c856bc9a1965df787fefa56ff46c8f2316e3a0,kramer,DE,None,Counter-Strike: Global Offensive
18,2015-01-01 01:20:08,a8f2b43217deffd17fc5589f0933f90224a9f59e,75e990cf18fc10e69d6d765c555cf07543689f4c,frank,US,ipad_t,League of Legends
19,2015-01-01 09:45:44,53210c06e61e8fa4efcb88ac7bb83163c2d98500,1a18a5fd4f0972a7850e15acbdf93695d2747611,morty,DE,android,Heroes of the Storm

What are the unique `games` in the stream table?

In [4]:
pd.read_sql('''SELECT DISTINCT game
FROM stream; 
''', conn1)

                                game
0                  League of Legends
1                               DayZ
2                             Dota 2
3                Heroes of the Storm
4   Counter-Strike: Global Offensive
5    Hearthstone: Heroes of Warcraft
6      The Binding of Isaac: Rebirth
7                            Agar.io
8                  Gaming Talk Shows
9                               None
10                     Rocket League
11                    World of Tanks
12             ARK: Survival Evolved
13                      SpeedRunners
14                    Breaking Point
15                         Duck Game
16  Devil May Cry 4: Special Edition
17                      Block N Load
18                         Fallout 3
19             Batman: Arkham Knight
20                    Reign Of Kings
21          The Witcher 3: Wild Hunt
22       The Elder Scrolls V: Skyrim
23                 Super Mario Bros.
24                              H1Z1
25                    The Last of Us
26                             Depth
27                   Mortal Kombat X
28     Senran Kagura: Estival Versus
29                        The Sims 4
30             You Must Build A Boat
31                    Choice Chamber
32                             Music
33                      Risk of Rain
34                Grand Theft Auto V
35                           Besiege
36               Super Mario Bros. 3
37                            Hektor
38       Bridge Constructor Medieval
39                            Lucius
40                         Blackjack
41                  Cities: Skylines

What are the unique `channel` in the stream table?

In [5]:
pd.read_sql('''SELECT DISTINCT channel
FROM stream; 
''', conn1)

   channel
0    frank
1   george
2  estelle
3    morty
4   kramer
5    jerry
6    helen
7   newman
8   elaine
9    susan

# Aggregate Functions
What are the most popular games in the stream table?

Create a list of games and their number of viewers using GROUP BY.

In [6]:
pd.read_sql(''' SELECT game, COUNT(*)
FROM stream
GROUP BY game
ORDER BY COUNT(*) DESC; ''', conn1)

                                game  COUNT(*)
0                  League of Legends    193533
1                             Dota 2     85608
2   Counter-Strike: Global Offensive     54438
3                               DayZ     38004
4                Heroes of the Storm     35310
5      The Binding of Isaac: Rebirth     29467
6                  Gaming Talk Shows     28115
7                     World of Tanks     15932
8    Hearthstone: Heroes of Warcraft     14399
9                            Agar.io     11480
10                     Rocket League      7087
11             ARK: Survival Evolved      4158
12                      SpeedRunners      3367
13                              None      3124
14                         Duck Game      1063
15                         Fallout 3       485
16  Devil May Cry 4: Special Edition       231
17                    Breaking Point       161
18             Batman: Arkham Knight       117
19                    Reign Of Kings        50
20          The Witcher 3: Wild Hunt        45
21                      Block N Load        34
22                             Depth        27
23                   Mortal Kombat X        22
24                              H1Z1         7
25                 Super Mario Bros.         6
26                Grand Theft Auto V         5
27                             Music         4
28                    The Last of Us         3
29       The Elder Scrolls V: Skyrim         3
30     Senran Kagura: Estival Versus         2
31                      Risk of Rain         2
32             You Must Build A Boat         1
33                        The Sims 4         1
34               Super Mario Bros. 3         1
35                            Lucius         1
36                            Hektor         1
37                  Cities: Skylines         1
38                    Choice Chamber         1
39       Bridge Constructor Medieval         1
40                         Blackjack         1
41                           Besiege         1

These are some big numbers from the game League of Legends (also known as LoL).

Where are these LoL stream viewers located?

Create a list of countries and their number of LoL viewers using WHERE and GROUP BY.

In [7]:
pd.read_sql('''SELECT country, COUNT(*)
FROM stream
WHERE game = 'League of Legends'
GROUP BY game
ORDER BY COUNT(*) DESC; ''', conn1)

  country  COUNT(*)
0      US    193533

The player column contains the source the user is using to view the stream (site, iphone, android, etc).

Create a list of players and their number of streamers.

In [8]:
pd.read_sql('''SELECT player, COUNT(*)
FROM stream
GROUP BY game
ORDER BY COUNT(*) DESC; ''', conn1)

      player  COUNT(*)
0   iphone_t    193533
1       site     85608
2       site     54438
3       site     38004
4       site     35310
5     ipad_t     29467
6       site     28115
7       site     15932
8   iphone_t     14399
9   iphone_t     11480
10      site      7087
11      site      4158
12      site      3367
13   android      3124
14      site      1063
15  iphone_t       485
16      site       231
17  iphone_t       161
18    ipad_t       117
19    ipad_t        50
20  iphone_t        45
21  iphone_t        34
22    ipad_t        27
23  iphone_t        22
24  iphone_t         7
25  iphone_t         6
26    ipad_t         5
27  iphone_t         4
28  iphone_t         3
29  iphone_t         3
30  iphone_t         2
31    ipad_t         2
32  iphone_t         1
33    ipad_t         1
34  iphone_t         1
35  iphone_t         1
36  iphone_t         1
37    ipad_t         1
38  iphone_t         1
39  iphone_t         1
40    ipad_t         1
41  iphone_t         1

Create a new column named genre for each of the games.

Group the games into their genres: Multiplayer Online Battle Arena (MOBA), First Person Shooter (FPS), Survival, and Other.

Using CASE, your logic should be:

If League of Legends → MOBA

If Dota 2 → MOBA

If Heroes of the Storm → MOBA

If Counter-Strike: Global Offensive → FPS

If DayZ → Survival

If ARK: Survival Evolved → Survival

Else → Other

Use GROUP BY and ORDER BY to showcase only the unique game titles.

In [9]:
pd.read_sql('''
SELECT game,
 CASE
  WHEN game = 'Dota 2'
  
      THEN 'MOBA'
  WHEN game = 'League of Legends' 
      THEN 'MOBA'
  WHEN game = 'Heroes of the Storm'
      THEN 'MOBA'
    WHEN game = 'Counter-Strike: Global Offensive'
      THEN 'FPS'
    WHEN game = 'DayZ'
      THEN 'Survival'
    WHEN game = 'ARK: Survival Evolved'
      THEN 'Survival'
  ELSE 'Other'
  END AS 'genre',
  COUNT(*)
FROM stream
GROUP BY 1
ORDER BY 3 DESC;
''', conn1)

                                game     genre  COUNT(*)
0                  League of Legends      MOBA    193533
1                             Dota 2      MOBA     85608
2   Counter-Strike: Global Offensive       FPS     54438
3                               DayZ  Survival     38004
4                Heroes of the Storm      MOBA     35310
5      The Binding of Isaac: Rebirth     Other     29467
6                  Gaming Talk Shows     Other     28115
7                     World of Tanks     Other     15932
8    Hearthstone: Heroes of Warcraft     Other     14399
9                            Agar.io     Other     11480
10                     Rocket League     Other      7087
11             ARK: Survival Evolved  Survival      4158
12                      SpeedRunners     Other      3367
13                              None     Other      3124
14                         Duck Game     Other      1063
15                         Fallout 3     Other       485
16  Devil May Cry 4: Special Edition     Other       231
17                    Breaking Point     Other       161
18             Batman: Arkham Knight     Other       117
19                    Reign Of Kings     Other        50
20          The Witcher 3: Wild Hunt     Other        45
21                      Block N Load     Other        34
22                             Depth     Other        27
23                   Mortal Kombat X     Other        22
24                              H1Z1     Other         7
25                 Super Mario Bros.     Other         6
26                Grand Theft Auto V     Other         5
27                             Music     Other         4
28                    The Last of Us     Other         3
29       The Elder Scrolls V: Skyrim     Other         3
30     Senran Kagura: Estival Versus     Other         2
31                      Risk of Rain     Other         2
32             You Must Build A Boat     Other         1
33                        The Sims 4     Other         1
34               Super Mario Bros. 3     Other         1
35                            Lucius     Other         1
36                            Hektor     Other         1
37                  Cities: Skylines     Other         1
38                    Choice Chamber     Other         1
39       Bridge Constructor Medieval     Other         1
40                         Blackjack     Other         1
41                           Besiege     Other         1

# How does view count change in the course of a day?

In [10]:
# read the first 10 rows of the column time
pd.read_sql('''
SELECT time 
FROM stream
LIMIT 10;
''', conn1)

                  time
0  2015-01-01 18:33:52
1  2015-01-01 23:35:33
2  2015-01-01 04:39:38
3  2015-01-01 11:15:30
4  2015-01-01 11:28:19
5  2015-01-01 23:27:36
6  2015-01-01 21:09:23
7  2015-01-01 19:14:27
8  2015-01-01 13:51:04
9  2015-01-01 22:00:14

SQLite comes with a `strftime()` function - a very powerful function that allows you to return a formatted date.

It takes two arguments:

Lite comes with a `strftime()` function - a very powerful function that allows you to return a formatted date.

It takes two arguments:

`strftime(format, column)`

In [11]:
# create a new column that shows the seconds 
pd.read_sql('''
SELECT time,
    strftime('%S', time) 
FROM stream
GROUP BY 1
LIMIT 20;
''', conn1)

                   time strftime('%S', time)
0   2015-01-01 00:00:00                   00
1   2015-01-01 00:00:01                   01
2   2015-01-01 00:00:02                   02
3   2015-01-01 00:00:03                   03
4   2015-01-01 00:00:04                   04
5   2015-01-01 00:00:06                   06
6   2015-01-01 00:00:07                   07
7   2015-01-01 00:00:08                   08
8   2015-01-01 00:00:09                   09
9   2015-01-01 00:00:10                   10
10  2015-01-01 00:00:11                   11
11  2015-01-01 00:00:12                   12
12  2015-01-01 00:00:13                   13
13  2015-01-01 00:00:14                   14
14  2015-01-01 00:00:15                   15
15  2015-01-01 00:00:16                   16
16  2015-01-01 00:00:18                   18
17  2015-01-01 00:00:19                   19
18  2015-01-01 00:00:20                   20
19  2015-01-01 00:00:21                   21

Okay, now we understand how `strftime()` works. Let’s write a query that returns two columns:

The hours of the time column
The view count for each hour
Lastly, filter the result with only the users in your country using a `WHERE` clause.

In [12]:
pd.read_sql(
    '''
    SELECT strftime('%H', time),
        COUNT(*)
    FROM stream
    WHERE country = 'ES'
    GROUP BY 1
    ORDER BY COUNT(*) DESC;
    ''', conn1
)

   strftime('%H', time)  COUNT(*)
0                    16       320
1                    13       293
2                    15       290
3                    12       277
4                    17       253
5                    14       235
6                    04       213
7                    02       211
8                    18       195
9                    11       176
10                   03       159
11                   19       119
12                   10        81
13                   05        76
14                   00        75
15                   21        72
16                   01        68
17                   20        63
18                   23        52
19                   09        47
20                   08        35
21                   22        18
22                   06         6
23                   07         3

The stream table and the chat table share a column: `device_id`.

Let’s join the two tables on that column.

In [20]:
stream_df = pd.read_sql('''
SELECT *
FROM stream
''', conn1)
stream_df

,time,device_id,login,channel,country,player,game,stream_format,subscriber
0,2015-01-01 18:33:52,40ffc2fa6534cf760becbdbf5311e31ad069e46e,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends,None,NaN
1,2015-01-01 23:35:33,9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760,5ad49a7b408ce452140b180dd6efb57a9f4d22c7,george,US,site,DayZ,chunked,0.0
2,2015-01-01 04:39:38,2f9c3f9ee1033b71a3819564243f20ef3bec0183,5b9a43e68f019185f55615d0b83019dee4b5d06f,frank,US,site,League of Legends,chunked,0.0
3,2015-01-01 11:15:30,0cda8226ba2583424c80c3c1c22c1256b080ad17,02c7797faa4d8a3ff4b0c14ee1764b6817b53d0b,estelle,CH,site,Dota 2,high,0.0
4,2015-01-01 11:28:19,e3288ca5e3153aa85e32f64cdd994b7666968dcf,b920c228acbcbebee26d9c79f6eb73b73a9480c7,morty,FR,site,Heroes of the Storm,medium,0.0
...,...,...,...,...,...,...,...,...,...
526294,2015-01-01 19:50:26,a4fb5414dc49966ab1c4601f3e8937a4ca0f0345,3bc97fa0d7e594d93973d11e10d87b7234339a57,helen,CA,site,Hearthstone: Heroes of Warcraft,chunked,0.0
526295,2015-01-01 15:07:36,74c78ab7bc50c2c7b83a304a395d3b8959a62bf0,64b8f14d232315be42e0f0ab37a2524b583b48b9,newman,FI,android,The Binding of Isaac: Rebirth,None,NaN
526296,2015-01-01 02:10:01,056c67d4521ad0fab6c727fd8cedda52a5ddd572,41c2376a1d1ad37299f0ec07e3a6cf5566c7a7dd,frank,AT,android,League of Legends,None,NaN
526297,2015-01-01 17:03:27,a37d6f2f3fe943c54bff192d1b8884f2770fe430,a5f6db88afb5fc4ab7382dcdfbb109888796d45a,frank,DK,ipad_t,League of Legends,None,NaN
526298,2015-01-01 20:16:36,413a9f43ea52fbad1355a7245a302b1b9c7a256b,f6746102aef80c4935ebfad803334e2e0d7dd3e9,george,US,iphone_t,DayZ,None,NaN

In [21]:
chat_df = pd.read_sql('''
SELECT *
FROM chat
''', conn2)
chat_df

,time,device_id,login,channel,country,stream_format,game
0,2015-01-01 18:45:50,70e2b95b5ac0d4c227e46966658d16b3e044996e,5c2f5c1f19a7738e16ed0be551d865e8a8fce71d,jerry,BY,None,Dota 2
1,2015-01-01 01:16:57,f2b9065b55fd80d6aa653ce989b489f4ec5198be,0d77740e4fb5ce77d94f9f6c8ef1f762990d0344,elaine,HK,None,Devil May Cry 4: Special Edition
2,2015-01-01 16:22:10,d448ba963d7e1023dd1b0a40b95d4f6611750692,77ab14c1fb815e1c369ba0cf7d4c56b4fe489997,frank,GB,iphone_t,League of Legends
3,2015-01-01 03:58:13,8d6823dc52b400b50aebf269bf1f03a36d19eeaa,91cb88c0743761589273fc5e800e7743ece46494,frank,US,iphone_t,League of Legends
4,2015-01-01 11:47:35,16c1e39594d62358d27ae604ad43a071f0d86bc4,51a9234f83d656607cfd7f26690c12d2ffbce353,estelle,DE,None,Dota 2
...,...,...,...,...,...,...,...
148557,2015-01-01 19:15:54,950953e16324ffd757ecf5ae6a667d29536c284f,dc4db723175a8453fff12f67e690e5b6c2597a6b,susan,RU,None,World of Tanks
148558,2015-01-01 16:29:06,80c3114b670d5257af2fe64c9a61fc5025dd7c32,040efd810f40fbec02d4cc54e01bcde0051e5810,susan,RU,None,World of Tanks
148559,2015-01-01 22:45:55,019abe8b6cc002318b087935f6daf531f8b85bd0,3a6a41c8c0125e6d28f9a44439a2bb26c4238c3f,george,US,ipad_t,DayZ
148560,2015-01-01 21:37:59,af953c8be30d2cc80b194a242400bbf0caa83b65,9c8d72c6f730c60aa9fa052a596fe6ffc2620e1a,george,US,android,DayZ
148561,2015-01-01 17:07:34,e3b24593b104e1e4f5bcf2cef76c2abcf8e8718a,eb198907c8a5dbcbd0f8ccaae74eefccad1bf1af,morty,US,iphone_t,Heroes of the Storm

In [25]:
chat_df.merge(stream_df, how='outer', on='device_id')
chat_df

,time,device_id,login,channel,country,stream_format,game
0,2015-01-01 18:45:50,70e2b95b5ac0d4c227e46966658d16b3e044996e,5c2f5c1f19a7738e16ed0be551d865e8a8fce71d,jerry,BY,None,Dota 2
1,2015-01-01 01:16:57,f2b9065b55fd80d6aa653ce989b489f4ec5198be,0d77740e4fb5ce77d94f9f6c8ef1f762990d0344,elaine,HK,None,Devil May Cry 4: Special Edition
2,2015-01-01 16:22:10,d448ba963d7e1023dd1b0a40b95d4f6611750692,77ab14c1fb815e1c369ba0cf7d4c56b4fe489997,frank,GB,iphone_t,League of Legends
3,2015-01-01 03:58:13,8d6823dc52b400b50aebf269bf1f03a36d19eeaa,91cb88c0743761589273fc5e800e7743ece46494,frank,US,iphone_t,League of Legends
4,2015-01-01 11:47:35,16c1e39594d62358d27ae604ad43a071f0d86bc4,51a9234f83d656607cfd7f26690c12d2ffbce353,estelle,DE,None,Dota 2
...,...,...,...,...,...,...,...
148557,2015-01-01 19:15:54,950953e16324ffd757ecf5ae6a667d29536c284f,dc4db723175a8453fff12f67e690e5b6c2597a6b,susan,RU,None,World of Tanks
148558,2015-01-01 16:29:06,80c3114b670d5257af2fe64c9a61fc5025dd7c32,040efd810f40fbec02d4cc54e01bcde0051e5810,susan,RU,None,World of Tanks
148559,2015-01-01 22:45:55,019abe8b6cc002318b087935f6daf531f8b85bd0,3a6a41c8c0125e6d28f9a44439a2bb26c4238c3f,george,US,ipad_t,DayZ
148560,2015-01-01 21:37:59,af953c8be30d2cc80b194a242400bbf0caa83b65,9c8d72c6f730c60aa9fa052a596fe6ffc2620e1a,george,US,android,DayZ
148561,2015-01-01 17:07:34,e3b24593b104e1e4f5bcf2cef76c2abcf8e8718a,eb198907c8a5dbcbd0f8ccaae74eefccad1bf1af,morty,US,iphone_t,Heroes of the Storm