In [11]:
# import the needed libraries
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd

In [12]:
# load stream.csv
stream_df = pd.read_csv('datasets/stream.csv')
stream_df.head()

,time,device_id,login,channel,country,player,game,stream_format,subscriber
0,2015-01-01 18:33:52,40ffc2fa6534cf760becbdbf5311e31ad069e46e,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends,NaN,NaN
1,2015-01-01 23:35:33,9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760,5ad49a7b408ce452140b180dd6efb57a9f4d22c7,george,US,site,DayZ,chunked,False
2,2015-01-01 04:39:38,2f9c3f9ee1033b71a3819564243f20ef3bec0183,5b9a43e68f019185f55615d0b83019dee4b5d06f,frank,US,site,League of Legends,chunked,False
3,2015-01-01 11:15:30,0cda8226ba2583424c80c3c1c22c1256b080ad17,02c7797faa4d8a3ff4b0c14ee1764b6817b53d0b,estelle,CH,site,Dota 2,high,False
4,2015-01-01 11:28:19,e3288ca5e3153aa85e32f64cdd994b7666968dcf,b920c228acbcbebee26d9c79f6eb73b73a9480c7,morty,FR,site,Heroes of the Storm,medium,False

In [45]:
# count number of login for every game
my_series = stream_df['game'].value_counts()
my_series.to_frame()

                                    game
League of Legends                 193533
Dota 2                             85608
Counter-Strike: Global Offensive   54438
DayZ                               38004
Heroes of the Storm                35310
The Binding of Isaac: Rebirth      29467
Gaming Talk Shows                  28115
World of Tanks                     15932
Hearthstone: Heroes of Warcraft    14399
Agar.io                            11480
Rocket League                       7087
ARK: Survival Evolved               4158
SpeedRunners                        3367
Duck Game                           1063
Fallout 3                            485
Devil May Cry 4: Special Edition     231
Breaking Point                       161
Batman: Arkham Knight                117
Reign Of Kings                        50
The Witcher 3: Wild Hunt              45
Block N Load                          34
Depth                                 27
Mortal Kombat X                       22
H1Z1                                   7
Super Mario Bros.                      6
Grand Theft Auto V                     5
Music                                  4
The Last of Us                         3
The Elder Scrolls V: Skyrim            3
Senran Kagura: Estival Versus          2
Risk of Rain                           2
Hektor                                 1
Bridge Constructor Medieval            1
Cities: Skylines                       1
Super Mario Bros. 3                    1
Blackjack                              1
Lucius                                 1
Besiege                                1
The Sims 4                             1
Choice Chamber                         1
You Must Build A Boat                  1

AttributeError: 'Series' object has no attribute 'game'